.count {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  text-align: center;
  &__input{
    text-align: center;
    width: 100%;
    flex: 1 1 0;
    border: none;
    background: none;
  }
  &__control{
    cursor: pointer;
    width: 20px;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:first-child){
      border-left: 1px solid $input-border-color;
    }
    &:not(:last-child){
      border-right: 1px solid $input-border-color;
    }
  }
}