.basket{
  font-size: 13px;
  &__item{
    .basket__tools & {
      padding-top: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #767676;
      margin-bottom: 10px;
    }
    .basket__header & {
      padding-top: 10px;
      padding-bottom: 10px;
      color: #767676;
      border-bottom: 1px solid #E5E5E5;
    }
    .basket__body & {
      padding-top: 20px;
      padding-bottom: 20px;
      &:not(:last-child){
        border-bottom: 1px solid #E5E5E5;
      }
    }
  }
  &__tools,
  &__header{
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  &__row{
    display: flex;
    margin-left: $grid-gutter-width/-2;
    margin-right: $grid-gutter-width/-2;
    &_tools,
    &_header{
      align-items: center;
    }
    &_item{
      @include media-breakpoint-down(sm){
        flex-wrap: wrap;
      }
    }
    &_main{

    }
    &_addition{
      @include media-breakpoint-down(sm){
        flex-wrap: wrap;
      }
    }
  }
  &__col{
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    &_main{
      flex: 1 1 420px;
    }
    &_addition{
      flex: 1 0 300px;
      max-width: 410px;
      @include media-breakpoint-down(sm){
        flex-shrink: 1;
        margin-left: 90px;
      }
    }
    &_check{
      flex: 0 0 50px;
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
    &_image{
      flex: 0 0 90px;
      width: 90px;
    }
    &_title{
      flex: 0 1 300px;
      width: 100px;
    }
    &_availability{
      flex: 1 1 100px;
      @include media-breakpoint-down(lg){
        display: none;
      }
    }
    &_price{
      flex: 0 0 120px;
      @include media-breakpoint-down(md){
        display: none;
      }
    }
    &_count{
      flex: 1 0 auto;
      @include media-breakpoint-down(sm){
        order: 1;
      }
      .count {
        max-width: 80px;
      }
    }
    &_total{
      flex: 0 0 auto;
      min-width: 100px;
      .price:first-child{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
      }
      @include media-breakpoint-down(sm){
        width: 100%;
        margin: $grid-gutter-width/3 0;
        display: flex;
        align-items: baseline;
        flex-flow: row-reverse wrap;
        justify-content: flex-end;
        .price + .price {
          margin-right: 0.5em;
        }
      }
    }
    &_remove{
      flex: 0 0 50px;
      width: 50px;
      @include media-breakpoint-down(sm){
        order: 1;
      }
      a{
        display: block;
        height: 22px;
        line-height: 22px;
        text-align: center;
        color: #B6B6B6;
        @include hover(){
          text-decoration: none;
          color: $danger;
        }
      }
    }
    &_controls{
      display: flex;
      align-items: center;
    }
  }


  &__stock{
    white-space: nowrap;
    &:before{
      content: '';
      display: inline-block;
      background-color: $green;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      vertical-align: -0.15em;
      margin-right: 0.5em;
      background-image: $custom-checkbox-indicator-icon-checked;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
    }
  }
  &__code{
    color: #767676;
  }
  &__link{
    color: #767676;
    font-size: 18px;
    cursor: pointer;
    &:not(:first-child){
      margin-left: $grid-gutter-width/2;
    }
  }
}
