.order {
  background-color: #F3F3F3;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  &__container{
    @include make-container();
    @include media-breakpoint-up(lg){
      @include make-container-max-widths();
    }
  }
  &__header{
    text-align: center;
    @include media-breakpoint-up(lg){
      text-align: left;
      margin-bottom: $grid-gutter-width;
    }
  }
  &__inner{
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__row{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -20px;
  }
  &__col{
    position: relative;
    padding: 20px;
    flex: 0 0 100%;
    max-width: 100%;
    @include media-breakpoint-down(md){
      &:not(:last-child){
        box-shadow: 0 1px 0 #C5C5C5;
        &:after,
        &:before{
          pointer-events: none;
          content: '';
          position: absolute;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 10px solid #C5C5C5;
          top: 100%;
          right: 50%;
          margin-left: -20px;
        }
        &:after{
          border-top-color: #F3F3F3;
          margin-top: -1px;
          z-index: 1;
        }
      }
    }
    @include media-breakpoint-up(lg){
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
      &:not(:last-child){
        box-shadow: 1px 0 0 #C5C5C5;
        &:after,
        &:before{
          pointer-events: none;
          content: '';
          position: absolute;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 10px solid #C5C5C5;
          left: 100%;
          top: 50%;
          margin-top: -20px;
        }
        &:after{
          border-left-color: #F3F3F3;
          margin-left: -1px;
          z-index: 1;
        }
      }
    }
  }
  &__offset{
    margin: auto;
    max-width: 380px;
  }
}