$icons-font-folder: './font' !default;
$icons-font-family: 'fi' !default;
$icons: (
  "chevron-left": "\f101",
  "chevron-right": "\f102",
  "close": "\f103",
  "exel": "\f104",
  "minus": "\f105",
  "pen": "\f106",
  "plus": "\f107",
  "print": "\f108",
  "rub": "\f109"
) !default;