.price {
  &:after{
    font-family: $icons-font-family;
    content: map_get($icons, 'rub');
  }
  &_old{
    color: #A0A0A0;
    line-height: 1;
    text-decoration: line-through;
  }
  &_large{
    font-size: 28px;
    line-height: 1;
    color: $primary;
    font-weight: 500;
  }
}